asgiref==3.7.2
boto==2.49.0
boto3==1.28.5
botocore==1.31.5
certifi==2023.5.7
charset-normalizer==3.2.0
Django==4.2.3
django-storages==1.13.2
idna==3.4
jmespath==1.0.1
Pillow==10.0.0
python-dateutil==2.8.2
requests==2.31.0
s3transfer==0.6.1
six==1.16.0
sqlparse==0.4.4
stripe==5.5.0
typing_extensions==4.7.1
urllib3==1.26.16
